.containerForm {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  max-height: 40rem;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--secondary);
  border-radius: 1rem;
  box-shadow: 0rem 0rem 1rem black;
} 

.formRow {
  display: flex;
  width: inherit;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.formBtnRow {
  margin: 2rem 0rem;
}