.outsideBox {
  padding-left: 16rem;
  padding-top: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  height: 800px;
}

.insideBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: center;
  font-weight: bold;
  line-height: 2rem;
  font-size: 1.4rem;
}

.buttonDiv {
  max-width: 7rem;
  display: flex;
}
