.input {
  border: none;
  width: 15rem;
  height: 2rem;
  background-color: inherit;
  border-bottom: solid 0.1rem black; 
  transition: all 300ms ease-in-out;
  text-align: center;
}

.input:focus {
    outline: none;
    box-shadow: none;
    border-color: none;
}

.labelText {
  text-align: center;
}