.input {
  border: none;
  padding-left: 1rem;
  width: 30rem;
  height: 4rem;
  background-color: inherit;
  border-bottom: solid 0.1rem black; 
  transition: all 300ms ease-in-out;
}

.input:focus {
  border-radius: 0.1rem;  
  border: solid 0.2rem black;
}
