.externalAside {
  background-color: var(--primary);
  display: block;
  width: 15rem;
  border-right: solid rgb(000, 000, 000, 15%) 0.3rem;
  color: var(--terciary);
  position: absolute;
  z-index: 1;
  height: 100%;
}

.innerAside {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  padding-top: 1rem;
}

.iconAside {
  padding-left: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  height: 3.2rem;
}

.iconAside svg {
  color: var(--terciary);
  filter: brightness(80%);
  align-self: center;
  width: 2rem;
  height: 2rem;
}

body {
  margin: 0;
}