.container {
  display: flex;
  max-width: 60rem;
  border-radius: 1rem;
  height: 30rem;
  justify-content: center;
  margin: 0 auto;
  flex-flow: column;
  align-items: center;
  background-color: var(--secondary);
  margin: 0 auto;
  margin-top: 10.5rem;
}